{% extends 'base.html.twig' %}

{% block title %}Procesador DW{% endblock %}

{% block body %}

    <div class="container home-choice">
        <form>
            <textarea name="texto" rows="10" cols="30"></textarea>
            <input type="submit" value="enviar">
        </form>
    </div>


{% endblock %}