{% extends 'base.html.twig' %}

{% block title %}Procesador DW{% endblock %}

{% block body %}

    <div class="container home-choice">

        {{ form_start(form,{'action':'', 'method':'POST'}) }}
        {{ form_end (form)}}

    </div>


{% endblock %}