{% extends 'base.html.twig' %}

{% block title %}Principal DW{% endblock %}

{% block body %}

    <div class="container home-choice">
        <div class="col-md-6">
            <a href="/escritor" class=" btn btn-primary center-block main-btn">Escribir</a>
        </div>
        <div class="col-md-6">
            <div class=" btn btn-primary center-block main-btn">Leer</div>
        </div>
    </div>


{% endblock %}