<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1>Procesador de Textos</h1>

        <div id="content">
            {% block body %}{% endblock %}
        </div>

        <footer>
            Contacto: {{ contact_email }}
        </footer>
    </body>
</html>
